<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
{% javascript app %}
{% include custom/lunr-search/search-results-template.html %}
<script type="text/javascript" src="https://js-cdn.dynatrace.com/jstag/15a8a271790/tzt78006/48027601c2940c19_bs.js" crossorigin="anonymous"></script>
